<!DOCTYPE html>                                                                                                                                                                        
<html>                                                                                                                                                                                 
<head>                                                                                                                                                                                 
<meta name="viewport" content="width=device-width, initial-scale=1">                                                                                                                   
<style>                                                                                                                                                                                
body {                                                                                                                                                                                 
	margin: 0;                                                                                                                                                                     
	font-family: Arial, Helvetica, sans-serif;                                                                                                                                     
}                                                                                                                                                                                      

.topnav {                                                                                                                                                                              
	overflow: hidden;                                                                                                                                                              
	background-color: #333;                                                                                                                                                        
}

.topnav a {                                                                                                                                                                            
	float: left;                                                                                                                                                                   
	color: #f2f2f2;                                                                                                                                                                
	text-align: center;                                                                                                                                                            
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}
</style>
</head>
<body>
	<div class="topnav">
		<a class="active">Home</a>
		<a href="/login">Auth</a>
		<a href="/download">Download</a>
		<a href="#contact">Contact</a>
		<a href="#about">About</a>
	</div>

	<div style="padding-left:16px">
		<h2>Trials of web server</h2>
		<div align="center">
				<img src="/welcome.gif"></img>
		</div>    
		<p><b>@Author:</b> idchannov</p>
		<p><b>@Date:</b> March 2021</p>
		<p><b>@Web frame:</b> express@4.17.1</p>
	</div>
</body>
</html>
